.mobile-app{
  margin-top: 100px;
  height:625px;
  width:400px;
  border: solid 5px black;
  border-radius: 25px;
}

.landing-page{
  height:100%;
  width:100%;
  background: #241f20;
}

.logo{
  width: 320px;
}

.logo-div{
  height:150px;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}

.rounded-btn{
  border-radius:15px;
  background-color:#f15e40;
  border: none;
}

.rounded-btn:hover{
  background-color:#f15e40;
}

.home-page{
  height:100%;
}

.page{
  display: none;
  border-radius: 20px;
  max-height:625px;


}

.active{
  display: block!important;
}

.tabs{
  background-color:#f4826b;
  height:10%;
  position:relative;
  bottom:5px;
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:center;
  margin-top: 35px;
  border-radius:20px;

}

.tab-screen{
  display: none;
  position:relative;
  top:0;
  height:85%;
}

.map-img{
  position:relative;
  height:110%;
  width:100%;
  border-radius:20px;

}

.active-tab{
  position:relative;
  bottom:40%;


}

.tab.active-tab, .tab.active-tab button {
    color:white;
  background-color:rgb(224, 6, 6);
}

.tab, .tab button{
  border-radius:50%;
  height:50px;
  width:50px;
  display:flex;
  flex-direction:column-reverse;
  justify-content:center;
  align-items:center;
}

.scroll-div {
  overflow: scroll;
  height: 350px;
  overflow-x: hidden;
}

.list-group .list-group-item:hover {
  background-color: #f15e40;
}

.profile-btn {
  color: rgb(0, 119, 255);
  background-color:#241f20;
  border: none;
  cursor: pointer;
}

.fa-arrow-circle-left {
  height: 40px;
  width: 40px;
  font-size: 40px!important;
  color: #f15e40;
  cursor: pointer;
  position:absolute;
  left:30px;
  top: 30px;
}



.fa-bicycle{
    position: absolute;
    color: #30a314;
    font-size: 30px;

}

.fa-bicycle:hover{
  cursor: pointer;
  font-size:32px;

}
.fa-search-location{
  font-size: 26px;
}

.qr-code-img{
  width:auto;
  max-width:60%;
  position:absolute;
  top:130px;
  left:20%;



}
.scan-btn{
  position: absolute;
  bottom:70px;
  left: 12.5%;
  background-color: #f15e40;
  font-weight: bold;
  color: white;

}





