.mobile-app{
  margin-top: 100px;
  height:625px;
  width:400px;
  border: solid 5px white;
}

.landing-page{
  height:100%;
  width:100%;
  background: #241f20;
}

.logo{
  width: 320px;
}

.logo-div{
  height:150px;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}

.rounded-btn{
  border-radius:15px;
  background-color:#f15e40;
  border: none;
}

.rounded-btn:hover{
  background-color:#f15e40;
}

.home-page{
  height:100%;
}

.page{
  display: none;
}

.active{
  display: block!important;
}

.tabs{
  background-color:#f15e40;
  height:15%;
  position:relative;
  bottom:0;
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:center;

}

.tab-screen{
  display: none;
  position:relative;
  top:0;
  height:85%;
}

.map-img{
  position:relative;
  height:100%;
  width:100%;

}

.active-tab{
  position:relative;
  bottom:40%;


}

.tab.active-tab, .tab.active-tab button {
    color:white;
  background-color:blue;
}

.tab, .tab button{
  border-radius:50%;
  height:75px;
  width:75px;
  display:flex;
  flex-direction:column-reverse;
  justify-content:center;
  align-items:center;
}

.scroll-div {
  overflow: scroll;
  height: 400px;
  overflow-x: hidden;
}

.list-group .list-group-item:hover {
  background-color: #f15e40;
}